<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- Head -->
<th:block th:fragment="headFragment">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Our Search List</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="myweb/assets/favicon.ico" />
    <!-- 공통 css-->
    <link href="/myweb/css/styles.css" rel="stylesheet" />
    <!-- 개별적인 css -->
    <th:block layout:fragment="css"></th:block>
  </head>
</th:block>
</html>