<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light"><a href="/home" style="text-decoration:none">Our Search List</a></div>
    <div class="list-group list-group-flush">
      <!--/* <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/addYoutubeChannelVideo">Add Youtube Ch/Video</a> */-->
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/myYoutubeChannelList">My Youtube Channel</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/myYoutubeVideoList">My Youtube Video[작업중]</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/ourYoutubeList">Our Youtube List[작업중]</a>
      <!--/* <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/myyoutubelist">Add Google [작업중]</a> */-->
      <!--/* <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">My Google List[작업중]</a> */-->
      <!--/* <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">toDev</a>*/-->
    </div>
  </div>
</th:block>
</html>