<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block th:fragment="topbarFragment">
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <button class="btn btn-primary" id="sidebarToggle">
        <span class="material-icons-outlined"> apps </span>
      </button>
      <div class="ms-auto">
        <div sec:authorize="isAnonymous()">
          <button class="btn btn-primary ms-auto" onclick="location.href='/user/signInForm'">
            <span class="material-icons-outlined"> login </span>
          </button>
          <button class="btn btn-secondary ms-auto" onclick="location.href='/user/signUpForm'">
            <span class="material-icons-outlined"> person_add </span>
          </button>
        </div>
        <div sec:authorize="isAuthenticated()">
          <form th:action="@{/logout}" method="post">
            <sec:csrfInput />
            <button class="btn btn-danger ms-auto" onclick="location.href='/logout'">
              <span class="material-icons-outlined"> logout </span>
            </button>
          </form>
          <!--/* <button type="button" class="btn btn-success ms-auto" onclick="location.href='/mypage'">
            <span class="material-icons-outlined"> account_box </span>
          </button> */-->
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#!">한국어</a>
              <a class="dropdown-item" href="#!">English[구현중]</a>
              <!--/* <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#!">Something else here</a> */-->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</th:block>
</html>