<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/myweb/css/login.css" />
</th:block>
<th:block layout:fragment="content">
  <br>
  <div class="text-center">
    <main class="form-signin">
      <div>
        <form th:action="@{/signIn}" method="post">
          <sec:csrfInput />
          <img class="mb-4" src="/myweb/images/logo.png" alt="" width="150" height="150">
          <h1 class="h3 mb-3 fw-normal">로그인하기</h1>
          <div class="form-floating">
            <input type="text" class="form-control" name="id" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">아이디</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">비밀번호</label>
          </div>

          <div class="checkbox mb-3">
            <label> <input type="checkbox" value="remember-me"> 로그인 여부 기억하기
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
          <!--<p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>-->
        </form>
        <br>
        <a href="/">비밀번호 찾기</a>
        <br>
        <br>
        <a href="/oauth2/authorization/google">구글로 로그인</a>
      </div>
      <!-- <ul>
        <li>
          <a href="javascript:;" class="btn_social" data-social="google">구글 로그인</a>
          <br />
        </li>
      </ul>
      <script>
        let socials = document.getElementsByClassName("btn_social");
        for (let social of socials) {
            social.addEventListener('click', function () {
                let socialType = this.getAttribute('data-social');
                location.href="/oauth2/authorization/" + socialType;
            })
        }
    </script> -->


    </main>
  </div>
</th:block>
</html>