<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout/layout}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/myweb/css/signup.css" />
</th:block>
<th:block layout:fragment="js">
  <script src="/myweb/js/sign-up-form.js"></script>
</th:block>
<th:block layout:fragment="content">
  <div>
    <div class="container bg-light">
      <main>
        <div class="py-5 text-center">
          <img class="mb-4" src="/myweb/images/logo.png" alt="" width="150" height="150">
          <h2>회원 가입하기</h2>
          <p class="lead"></p>
        </div>
        <div class="row g-5">
          <div class="col-md-7 col-lg-8">
            <form id="signUpSubmit" class="needs-validation" th:action="@{/user/signUp}" method="post" novalidate>
              <sec:csrfInput />
              <div class="row g-3">
                <div class="col-12">
                  <label for="id" class="form-label">아이디</label>
                  <input id="inputId" type="text" class="form-control" name="id" placeholder="" required autocomplete='off'>
                  <p id="idConfirm"></p>
                </div>
                <div class="col-12">
                  <label for="password" class="form-label">비밀번호</label>
                  <input id="inputPassword" type="password" class="form-control" name="password" placeholder="" required>
                </div>
                <div class="col-12">
                  <label for="password2" class="form-label">비밀번호 확인</label>
                  <input id="inputPassword2" type="password" class="form-control" name="password2" placeholder="" required>
                  <p id="passwordConfirm"></p>
                </div>
                <div class="col-12">
                  <label for="email" class="form-label">이메일 (추가 입력) <span class="text-muted"></span></label>
                  <input id="inputEmail" type="email" class="form-control" name="email" placeholder="you@example.com">
                  <p></p>
                </div>
              </div>
              <hr class="my-4">
            </form>
            <button type="button" class="w-100 btn btn-primary btn-lg" onclick="signUp()">가입하기</button>
            <br> <br> <br>
          </div>
        </div>
      </main>
    </div>
  </div>
</th:block>
</html>